/* место для вашего кода */
.header,
.footer {
  display: grid;
  align-items: center;
  max-width: 1340px;
  margin: 92px auto;
  grid-template: 100% / repeat(3, 1fr);
}
/*start of eader*/
.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  display: list-item;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link,
.footer__link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.header__link_active,
.footer__link_active {
  border-bottom: none;
}

.header__logo {
  text-align: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}
.address a {
  display: inline;
  border-bottom: 1px solid;
  line-height: 1;
  text-decoration: none;
}

.header__address {
  justify-self: end;
}
/*end of header*/

/*start of section "cover"*/
.cover {
  position: relative;
  max-width: 1440px;
  margin: 0 auto 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 165px 50px 135px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  z-index: 2;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 50px;
  padding-bottom: 50px; 
}

.cover__description-text {
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 1.27273%;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  z-index: 2;
  margin-left: 78px;
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400; 
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
}
/*end of section "cover"*/

/*start of section "lots"*/
.lots {
  max-width: 1340px;
  margin: 0 auto 181px auto;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
  color: #fff;
  list-style-type: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  padding: 50px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 40px;
  border-bottom: 1px solid;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
/*end of section "lots"*/

/*start of section "about"*/
.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1340px;
  margin: 0 auto 180px auto;
}

.about__column {
  grid-column: 2/4;
}

.about__logo {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 63px 46px;
  background-color: black;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__column p:first-of-type {
  margin-bottom: 25px;
}
/*end of section "about"*/

/*start of section "footer"*/
.footer {
  align-items: start;
  margin: 0 auto 90px auto;
}

.footer__links-list {
  text-align: center;
  list-style: none;
}

.footer__links-list-item {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.footer__links {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}

/*end of section "footer"*/
